

.navbar {
    background-color: black;
    color: white;
    width: 100vw;
    height: min-content;
    display: flex;
    padding: 20px;
    padding-left: 100px;
    justify-content: start;
    align-items: center;
    margin: 0;
}


